flows.json
[{"id":"af0075bc.8be538","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"66b460a1.f9615","type":"ui_form","z":"af0075bc.8be538","name":"","label":"","group":"10ed51bf.c17c5e","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email Id","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"Create","cancel":"","topic":"","x":130,"y":260,"wires":[["73dcccc2.982c24","dc8f804.235fd8"]]},{"id":"73dcccc2.982c24","type":"debug","z":"af0075bc.8be538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":200,"wires":[]},{"id":"dc8f804.235fd8","type":"function","z":"af0075bc.8be538","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":300,"wires":[["9c0e55a7.1d28c8"]]},{"id":"9c0e55a7.1d28c8","type":"cloudant out","z":"af0075bc.8be538","name":"Cloudant","cloudant":"","database":"sample","service":"node-red-fotsc-2020--cloudant-1597437557359-93517","payonly":true,"operation":"insert","x":680,"y":300,"wires":[]},{"id":"485a583d.251768","type":"ui_form","z":"af0075bc.8be538","name":"","label":"","group":"6b1bb8df.9a9908","order":0,"width":0,"height":0,"options":[{"label":"Email ID","value":"email","type":"email","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":false,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":440,"wires":[["68f097be.bd2268"]]},{"id":"68f097be.bd2268","type":"function","z":"af0075bc.8be538","name":"","func":"global.set(\"emailid\",msg.payload.email);\nglobal.set(\"password\",msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":440,"wires":[["f22a3375.c338b"]]},{"id":"f22a3375.c338b","type":"function","z":"af0075bc.8be538","name":"","func":"var emailid=global.get(\"emailid\");\n\nmsg.payload=\"emailid:\" +emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":440,"wires":[["8d65cb15.3f3f28"]]},{"id":"8d65cb15.3f3f28","type":"cloudant in","z":"af0075bc.8be538","name":"","cloudant":"","database":"sample","service":"node-red-fotsc-2020--cloudant-1597437557359-93517","search":"_idx_","design":"user","index":"user","x":500,"y":440,"wires":[["f98fc413.585178"]]},{"id":"f98fc413.585178","type":"function","z":"af0075bc.8be538","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":440,"wires":[["a95cc8f0.f14cd8"]]},{"id":"7b0bfa5b.ff2f84","type":"debug","z":"af0075bc.8be538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":560,"wires":[]},{"id":"a95cc8f0.f14cd8","type":"ui_text","z":"af0075bc.8be538","group":"6b1bb8df.9a9908","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":440,"wires":[]},{"id":"36bc09f1.0a9ce6","type":"ui_form","z":"af0075bc.8be538","name":"","label":"","group":"4ff263fd.f1be5c","order":1,"width":0,"height":0,"options":[{"label":"User input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":660,"wires":[["e3b86bdb.058448"]]},{"id":"e3b86bdb.058448","type":"function","z":"af0075bc.8be538","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":660,"wires":[["a631f34f.6ef13"]]},{"id":"a631f34f.6ef13","type":"watson-conversation-v1","z":"af0075bc.8be538","name":"","workspaceid":"08d20d8d-41f5-4352-b0c1-57407c87db13","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/7465e923-aa62-45dc-8f09-51e38029f3cb","timeout":"","optout-learning":false,"x":380,"y":660,"wires":[["7b0bfa5b.ff2f84","c13de066.5e3b5"]]},{"id":"2753f7de.7cc828","type":"ui_text","z":"af0075bc.8be538","group":"4ff263fd.f1be5c","order":2,"width":"6","height":"8","name":"","label":"Bot response","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":660,"wires":[]},{"id":"c13de066.5e3b5","type":"function","z":"af0075bc.8be538","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":660,"wires":[["2753f7de.7cc828","ef2fd563.e29bc8"]]},{"id":"ef2fd563.e29bc8","type":"ui_audio","z":"af0075bc.8be538","name":"","group":"4ff263fd.f1be5c","voice":"","always":"","x":730,"y":760,"wires":[]},{"id":"10ed51bf.c17c5e","type":"ui_group","z":"","name":"Reg Form","tab":"4cf372e3.6989ec","order":1,"disp":true,"width":"6","collapse":false},{"id":"6b1bb8df.9a9908","type":"ui_group","z":"","name":"Login Form","tab":"e6c4ef10.9fb19","order":1,"disp":true,"width":"6","collapse":false},{"id":"4ff263fd.f1be5c","type":"ui_group","z":"","name":"Bot","tab":"a571e6c6.72c418","order":2,"disp":true,"width":"6","collapse":false},{"id":"4cf372e3.6989ec","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"e6c4ef10.9fb19","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"a571e6c6.72c418","type":"ui_tab","z":"","name":"Customer Tab","icon":"dashboard","disabled":false,"hidden":false}]